<mat-card class="cardWithShadow theme-card">
  <div class="dashboard-container">
    <div class="left-column">
      <p class="description-text">
        "Tu destino para la mejor experiencia hotelera. Gestiona tus reservas,
        habitaciones, y mucho más desde tu panel de control. Aprovecha todas las
        funcionalidades para optimizar la gestión de tu hotel y ofrecer un
        servicio de excelencia a tus huéspedes."
      </p>

      <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
      </div>
    </div>
    <div class="right-column">
      <img
        src="./assets/images/logos/dark-logo.svg"
        alt="Logo del Sistema"
        class="logo"
      />
      <div class="burbujas right-burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
      </div>
    </div>
  </div>
</mat-card>
