.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.custom-file-upload {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #0a8adc; /* Color del botón */
  color: white; /* Color del texto */
  border-radius: 8px; /* Bordes redondeados */
  font-size: 15px; /* Tamaño de fuente */
  font-weight: 500; /* Peso de la fuente */
  transition: background-color 0.3s ease; /* Transición suave en el hover */
  text-align: center;
}

.custom-file-upload:hover {
  background-color: #0a8adc; /* Color del botón al hacer hover */
}

.custom-file-upload mat-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.d-none {
  display: none;
}

