<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">{{ titulo }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="card-body border-top">
                <form ngNativeValidate (ngSubmit)="crear()">
                  <div class="row">
                    <!-- Columna izquierda -->
                    <div class="col-12 col-md-6">
                      <!-- Vista previa de la imagen -->
                      <div
                        class="mt-3 d-flex justify-content-center align-items-center"
                        style="
                          width: 500px;
                          height: 450px;
                          border: 1px solid #ccc;
                          padding: 10px;
                          border-radius: 15px;
                          overflow: hidden;
                        "
                      >
                        <img
                          [src]="persona.fotoUrl || 'assets/subir.png'"
                          alt="Vista previa de la imagen"
                          style="
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: contain;
                          "
                        />
                      </div>
  
                      <hr class="my-4" style="border: 0px" />
  
                      <div class="col-12 mt-3">
                        <label
                          for="file-upload"
                          class="custom-file-upload"
                          matTooltip="Subir Imagen"
                          matTooltipPosition="right"
                        >
                          <mat-icon>cloud_upload</mat-icon> Subir imagen
                        </label>
                        <input
                          id="file-upload"
                          type="file"
                          (change)="onFileSelected($event)"
                          accept="image/*"
                          class="d-none"
                        />
                      </div>
  
                      <hr class="my-4" style="border: 0px" />
  
                      <!-- Usuario -->
                      <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Usuario</mat-label>
                          <input
                            matInput
                            name="usuario"
                            [(ngModel)]="usuario.usuario"
                            required
                          />
                        </mat-form-field>
                      </div>
  
                      <!-- Contraseña -->
                      <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Contraseña</mat-label>
                          <input
                            matInput
                            name="contrasena"
                            [(ngModel)]="usuario.password"
                            required
                          />
                        </mat-form-field>
                      </div>
                    </div>
  
                    <!-- Columna derecha -->
  
                    <div class="col-12 col-md-6">
                      <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Cédula</mat-label>
                          <input
                            matInput
                            name="cedula"
                            [(ngModel)]="persona.cedula"
                            required
                            maxlength="10"
                            pattern="^[0-9]*$"
                          />
                          <mat-error *ngIf="persona.cedula?.length !== 10">
                            La cédula debe tener 10 números.
                          </mat-error>
                        </mat-form-field>
                      </div>
  
                      <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Nombre</mat-label>
                          <input
                            matInput
                            name="nombrePer"
                            [(ngModel)]="persona.nombrePer"
                            required
                          />
                        </mat-form-field>
                      </div>
  
                      <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Apellido</mat-label>
                          <input
                            matInput
                            name="apellidoPer"
                            [(ngModel)]="persona.apellidoPer"
                            required
                          />
                        </mat-form-field>
                      </div>
  
                      <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Dirección</mat-label>
                          <input
                            matInput
                            name="direccionPer"
                            [(ngModel)]="persona.direccionPer"
                            required
                          />
                        </mat-form-field>
                      </div>
  
                      <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Email</mat-label>
                          <input
                            matInput
                            name="emailPer"
                            [(ngModel)]="persona.emailPer"
                            type="email"
                            required
                            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                          />
                          <mat-error
                            *ngIf="
                              persona.emailPer && !persona.emailPer.includes('@')
                            "
                          >
                            Debe ser un email válido.
                          </mat-error>
                        </mat-form-field>
                      </div>
  
                      <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Teléfono</mat-label>
                          <input
                            matInput
                            name="telefonoPer"
                            [(ngModel)]="persona.telefonoPer"
                            required
                            maxlength="10"
                            pattern="^[0-9]*$"
                          />
                          <mat-error *ngIf="persona.telefonoPer?.length !== 10">
                            El teléfono debe tener 10 números.
                          </mat-error>
                        </mat-form-field>
                      </div>
  
                      <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Fecha de Nacimiento</mat-label>
                          <input
                            matInput
                            name="fechaNacimiento"
                            [(ngModel)]="persona.fechaNacimiento"
                            [matDatepicker]="picker"
                            required
                            [matDatepickerFilter]="dateFilter"
                          />
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error *ngIf="persona.fechaNacimiento > today">
                            La fecha no puede ser en el futuro.
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
  
                  <!-- Botón Guardar -->
                  <div
                    class="col-12 d-flex justify-content-center align-items-center mt-3"
                  >
                    <button
                      mat-flat-button
                      color="primary"
                      matTooltip="Guardar Persona"
                      matTooltipPosition="above"
                      style="font-weight: bold"
                      [disabled]="!validarFormulario()"
                    >
                      GUARDAR
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  